---

---

<div class="scycrapers-wrapper">
  <img class="top-cloud top-cloud-1" src="/images/clouds/cloud03.png" alt="" />
  <img class="top-cloud top-cloud-2" src="/images/clouds/cloud03.png" alt="" />
  <img class="top-cloud top-cloud-3" src="/images/clouds/cloud03.png" alt="" />

  <section class="scycrapers">
    <video
      class="scycrapers-video"
      src="/images/video-80724_medium.mp4"
      autoplay
      muted
      loop
      playsinline></video>
    <h1>High-fidelity engineering for digital-first enterprises.</h1>
  </section>
</div>
